<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IMovieMapper">

    <!-- 수집된 내용 DB에 등록 -->
    <insert id="insertMovieInfo" parameterType="MovieDTO">
        INSERT INTO MOVIE_INFO
        (COLLECT_TIME,
         SEQ,
         MOVIE_RANK,
         MOVIE_NM,
         MOVIE_RESERVE,
         SCORE,
         OPEN_DAY,
         REG_ID,
         CHG_ID)
        VALUES (#{collectTime},
                (SELECT NVL(MAX(A.SEQ), 0) + 1 FROM MOVIE_INFO A WHERE A.COLLECT_TIME = #{collectTime}),
                #{movieRank},
                #{movieNm},
                #{movieReserve},
                #{score},
                #{openDay},
                #{regId},
                #{regId})
    </insert>

    <!-- DB에 저장된 영화 순위 삭제하기 -->
    <insert id="deleteMovieInfo" parameterType="MovieDTO">
        DELETE
        FROM MOVIE_INFO
        WHERE COLLECT_TIME = #{collectTime}
    </insert>

    <select id="getMovieInfo" parameterType="MovieDTO" resultType="MovieDTO">
        SELECT COLLECT_TIME,
               SEQ,
               MOVIE_RANK,
               MOVIE_NM,
               MOVIE_RESERVE,
               SCORE,
               OPEN_DAY,
               REG_ID,
               CHG_ID
        FROM MOVIE_INFO
        WHERE COLLECT_TIME LIKE #{collectTime} || '%'
        ORDER BY MOVIE_RANK ASC
    </select>
</mapper>

