<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IOcrMapper">

    <!-- 회원 가입하기(회원정보 등록하기) -->
    <insert id="insertOcrInfo" parameterType="OcrDTO">
        INSERT INTO OCR_INFO
        (SEQ,
         SAVE_FILE_NAME,
         SAVE_FILE_PATH,
         ORG_FILE_NAME,
         EXT,
         OCR_TEXT,
         REG_ID,
         CHG_ID)
        VALUES ((SELECT NVL(MAX(A.SEQ), 0) + 1 FROM OCR_INFO A),
                #{fileName},
                #{filePath},
                #{orgFileName},
                #{ext},
                #{textFromImage},
                #{regId},
                #{regId})
    </insert>

</mapper>

